body {
	background-image:url(../images/fon.png);
/*background-color:#FBE7B5;*/
margin:0;
padding:0;
}


p {
	/*width: 750px;*/
	margin: 0 auto;
	color:#020C30;
	font:normal 16px Arial;
/*	font-weight:bold;*/
	text-indent:25px;
	text-align:justify;
	/*white-space:pre-wrap;*/
	word-wrap: break-word;
}

#main {
	margin: 0 auto;
	width:1052px;
/*	outline: 4px solid #093; /*green*/	*/
	}

#head {
	width: 1052px;
	height: 216px;
	margin: 0 auto;
	padding:0;
	background-image:url(../images/head.gif);
	outline: 1px solid #F00;
	}


#head a {
  position: absolute; /*абсолютное позиционирование*/
  width: 96px; /*ширина контейнера гиперссылки*/
  height: 24px; /*высота контейнера гиперссылки*/
}

#head a:hover {
  border: 1px solid #020C30; /* рамка контейнера гирерссылки*/
}

/*#head a:link {
	background-color:#393;
}*/

#head .forum a {
    top:135px; /*позиционирование гиперссылки*/
    left: 1070px; /*позиционирование гиперссылки*/
}


#nov {
	margin: 0 auto;
	padding:0;
	width: 1052px;
	height: 86px;
	outline: 1px solid #111111;
	background-image:url(../images/novig.png);
	background-repeat:no-repeat;
	}

#kontext {
	margin: 0 auto;
	width: 1052px;
	background-image: url(../images/kont.png);
	outline: 1px solid #399;
	}

#kontext1{
	width: 750px;
	margin: 0 5px 0 45px;
	padding:10px 0 10px 0;
	outline: 1px solid #C69;
	}	

/*	outline: 1px solid #C69;*/



.detal {
	text-align:right;
	font:normal 14px Arial;
	font-style:italic;
	padding: 5px 15px;
	}

#login {
	float:right;
	width: 200px;
/*	height: 200px;*/
/*	margin-top: 20px;*/
	background-image:url(../images/avtorizaciya.jpg);
	background-repeat:no-repeat;
	padding: 0px 0 0 0;
	margin: 0px 35px 0 0px;
	outline: 1px solid #111111;
	}

#imgLogin {
	margin: 20px 0 20px 20px;
	}

#foot {
	margin: 0 auto;
	background-image:url(../images/footer.png);
	width: 1052px;
	height: 52px;
	text-align:center;
	}

.clear {
	clear:right;
	}

.link {
	text-decoration:none;
	font: normal 16px Arial;
	color: #020C30;
}

.grafik {
	font: normal 14px Arial;
	color: #020C30;
	}

.imgInfo {
	float:left;
	margin: 5px 5px;
	}

.messenger {
	border: 2px solid #FBE7B5; 
	width: 650px;
	text-indent: 3px;
	padding: 10px 0;
	margin: 20px 50px 15px 40px;
/*	margin-top: 20px;
	margin-bottom: 15px;*/
	background-image:url(../images/shot_news_focus.png);
	color: #3F3B99;
	}
	
.textarea_chat {
	margin: 5px 50px 10px 40px;
	border: 2px solid #FBE7B5;
	background-color: #EDF3D5; 
	}

.textarea_chat:focus {
	border: 2px solid #009933;
	background-color: #FEFBF3;
	}
	
/*.input {
	border: 2px solid #FBE7B5;
	height: 30px;
	width: 650px;
	font:14px Arial;
	background-image:url(../images/shot_news.png);
	background-repeat: repeat-x;
	background-repeat: repeat-y;
	line-height: 17px;
	padding: 0px;
	margin: 0px 15px 5px 40px;
	}*/
	
.input:focus {
	border: 2px solid #C6F0B9;
	background:none;
	/*background-color:#FFF;*/
	background-image:url(../images/shot_news_focus.png);
	background-repeat: repeat-y
	}
	
.textarea_news {
	font: normal 14px Arial;
	width: 650px;
	border: 2px solid #FBE7B5;
	margin: 5px 15px 5px 40px;
	background-image:url(../images/shot_news.png);
	background-repeat: repeat-y;
	}

.textarea_news:focus {
	background-color:#0C9;
	/*background-image:url(../images/shot_news_focus.png);*/
	background-repeat: repeat-y;
	background:none;
	border: 2px solid #C6F0B9;
	}