@charset "utf-8";
/* CSS Document */
@import url(style.css);

h1 { 
	color:#020C30;
	margin: 0 auto;
	}

p, legend {
	font: normal 16px Arial;
	color:#020C30;
	margin-top: 5px;
/*	font-weight:normal;*/
	}
	
legend {
	font:12px Arial;
	font-weight:bold;
	}

#kontext1_left {
	width: 350px;
	/*outline: 1px solid #C69;*/
	padding: 0px;
	background-color: #FEFBF3;
	}
	
#kontext1_right {
	background-color: #FEFBF3;
	float: right;
	width: 350px;
	/*outline: 1px solid #C69;*/
	/*background-image:url(../images/boy_r.png);
	background-repeat: no-repeat;*/
	}
	
textarea {
	font:14px Arial;
	}
	
.question {
	text-align: left;
	margin-top: 5px;
	}

fieldset {
	padding:0 10px;
	border: 1px solid #020C30;
	margin-top: 10px;
/*	background-color: #FEF9EB;*/
	}

.input {
	border: 2px solid #FBE7B5;
	height: 27px;
	width: 267px;
	font:14px Arial;
	/*background-image:url(../images/form.png);*/
	background-image:url(../images/form.png);
	background-repeat: repeat-x;
	line-height: 17px;
	padding: 0 7px;
	margin: 0px 15px 5px 20px;
/*	margin-right: 550px;*/
	}
	
.input:focus {
	border: 2px solid #009933;
	background:none;
	background-color:#FFF;
	}

label {
	cursor:pointer;
	font:16px Arial;
/*	font-weight:bold;*/
	}

.login {
	padding-top:40px;
	font: normal 12px Arial;
	text-align:left;
	}
	
.img_r {
	/*outline: 1px solid #111111;*/
	margin: 25px 25px 10px 20px;
	float: left;
	}
	
.img_l {
	/*outline: 1px solid #111111;*/
	float:right;
	margin: 25px 25px 10px 20px;
	}
#messenger{
	width: 330px;
	margin:5px 0px;
	padding: 5px;
	border: gray dashed 1px;
	background: pink;
	display:none;
	}