@charset "utf-8";
/* CSS Document */

.user_menu {
	outline: 1px solid #0F0;
	margin: 45px auto 10px;
	font: bold 16px Arial;
	font-style:italic;
	text-indent: 0px;
	text-align:center;
	}
	
.user_menu a {
	/*padding: 15px;*/
	/*margin: 25px auto;*/
	outline: 1px solid #0F6;
	color:#390;
	text-decoration:none;
	}